<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djzhgd.project.system.mapper.ZxFileInfoMapper">

    <resultMap type="ZxFileInfo" id="ZxFileInfoResult">
        <result property="fileId"    column="file_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileThumbPath"    column="file_thumb_path"    />
        <result property="fileThumbName"    column="file_thumb_name"    />
        <result property="connectKey"    column="connect_key"    />
        <result property="connectType"    column="connect_type"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectZxFileInfoVo">
        select file_id, dept_id, parent_id, file_name, file_path, file_type, file_thumb_path, file_thumb_name, connect_key, connect_type, remark, status, del_flag, create_by, create_time, update_by, update_time from zx_file_info
    </sql>

    <select id="selectZxFileInfoList" parameterType="ZxFileInfo" resultMap="ZxFileInfoResult">
        <include refid="selectZxFileInfoVo"/>
        <where>
            <if test="fileId != null "> and file_id = #{fileId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like  '%' || #{fileName} || '%'</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileThumbPath != null  and fileThumbPath != ''"> and file_thumb_path = #{fileThumbPath}</if>
            <if test="fileThumbName != null  and fileThumbName != ''"> and file_thumb_name like  '%' || #{fileThumbName} || '%'</if>
            <if test="connectKey != null  and connectKey != ''"> and connect_key = #{connectKey}</if>
            <if test="connectType != null  and connectType != ''"> and connect_type = #{connectType}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectZxFileInfoById" parameterType="Long" resultMap="ZxFileInfoResult">
        <include refid="selectZxFileInfoVo"/>
        where file_id = #{fileId}
    </select>

    <insert id="insertZxFileInfo" parameterType="ZxFileInfo" useGeneratedKeys="true" keyProperty="fileId">
        insert into zx_file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null ">dept_id,</if>
            <if test="parentId != null ">parent_id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="fileType != null  and fileType != ''">file_type,</if>
            <if test="fileThumbPath != null  and fileThumbPath != ''">file_thumb_path,</if>
            <if test="fileThumbName != null  and fileThumbName != ''">file_thumb_name,</if>
            <if test="connectKey != null  and connectKey != ''">connect_key,</if>
            <if test="connectType != null  and connectType != ''">connect_type,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null ">#{deptId},</if>
            <if test="parentId != null ">#{parentId},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="fileType != null  and fileType != ''">#{fileType},</if>
            <if test="fileThumbPath != null  and fileThumbPath != ''">#{fileThumbPath},</if>
            <if test="fileThumbName != null  and fileThumbName != ''">#{fileThumbName},</if>
            <if test="connectKey != null  and connectKey != ''">#{connectKey},</if>
            <if test="connectType != null  and connectType != ''">#{connectType},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateZxFileInfo" parameterType="ZxFileInfo">
        update zx_file_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null ">dept_id = #{deptId},</if>
            <if test="parentId != null ">parent_id = #{parentId},</if>
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="fileType != null  and fileType != ''">file_type = #{fileType},</if>
            <if test="fileThumbPath != null  and fileThumbPath != ''">file_thumb_path = #{fileThumbPath},</if>
            <if test="fileThumbName != null  and fileThumbName != ''">file_thumb_name = #{fileThumbName},</if>
            <if test="connectKey != null  and connectKey != ''">connect_key = #{connectKey},</if>
            <if test="connectType != null  and connectType != ''">connect_type = #{connectType},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteZxFileInfoById" parameterType="Long">
        delete from zx_file_info where file_id = #{fileId}
    </delete>

    <delete id="deleteZxFileInfoByIds" parameterType="String">
        delete from zx_file_info where file_id in
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>

</mapper>
