<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djzhgd.module.people.mapper.ZhgdAttendanceDataMapper">
  <resultMap id="BaseResultMap" type="com.djzhgd.module.people.domain.ZhgdAttendanceData">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="TENANT_ID" jdbcType="DECIMAL" property="tenantId" />
    <result column="DISABLED" jdbcType="DECIMAL" property="disabled" />
    <result column="CREATE_USERID" jdbcType="DECIMAL" property="createUserid" />
    <result column="CREATE_USERNAME" jdbcType="VARCHAR" property="createUsername" />
    <result column="CREATE_IP" jdbcType="VARCHAR" property="createIp" />
    <result column="CREATE_DATETIME" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="UPDATE_USERID" jdbcType="DECIMAL" property="updateUserid" />
    <result column="UPDATE_USERNAME" jdbcType="VARCHAR" property="updateUsername" />
    <result column="UPDATE_IP" jdbcType="VARCHAR" property="updateIp" />
    <result column="UPDATE_DATETIME" jdbcType="TIMESTAMP" property="updateDatetime" />
    <result column="CHECK_DATA" jdbcType="VARCHAR" property="checkData" />
    <result column="CHECK_SN" jdbcType="VARCHAR" property="checkSn" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DEPT_ID, TENANT_ID, DISABLED, CREATE_USERID, CREATE_USERNAME, CREATE_IP, CREATE_DATETIME, 
    UPDATE_USERID, UPDATE_USERNAME, UPDATE_IP, UPDATE_DATETIME, CHECK_DATA, CHECK_SN
  </sql>

</mapper>